<html>
  <link type="text/css" href="/assets/reset.css" />
  <head>
    <style type="text/css">
      .clearfix:after {
      	content: ".";
      	display: block;
      	clear: both;
      	visibility: hidden;
      	line-height: 0;
      	height: 0;
      }

      .clearfix {
      	display: inline-block;
      }

      html[xmlns] .clearfix {
      	display: block;
      }

      * html .clearfix {
      	height: 1%;
      }
      
      div.info-line {
        font-family:Arial;
        border-bottom:2px solid #000;
        max-width:800px;
        font-size:18px;
        margin-bottom:20px;
      }
      
      div.info-line-2 {
        font-family:Arial;
        border-bottom:2px solid #000;
        max-width:800px;
        font-size:18px;
        margin-bottom:40px;
      }
      
      div.field-left {
        width:300px;
        position:relative;
        float:left;
      }
      div.field-right {
        width:100px;
        position:relative;
        float:right;
      }
      table.payroll-table {
        font-size:18px;
        font-family:Arial;
        color:000;
      }
      table.payroll-table tr {
        border-top:2px solid #000;
      }
      table.payroll-table th {
        padding:8px 11px;
        font-weight:bold;
        border-right:3px solid #000;
        border-top:3px solid #000;
        border-bottom:3px solid #000;
        text-align:center;
      }
      table.payroll-table tr.row td {
        padding:8px 11px;
        border-bottom:3px solid #000;
        border-right:3px solid #000;
        text-align:center;
      }
      table.payroll-table tr.row td.left, th.left {
        border-left:3px solid #000;
      }
      td.blank {
        border-right:3px solid #FFF;
        border-bottom:3px solid #FFF;
      }
      tr.total td.sum {
        padding:8px 11px;
        text-align:center;
        background-color:#000;
        color:#FFF;
        font-weight:bold;
      }
      div.comments { 
        margin-top:20px;
        font-family:Arial;
        max-width:750px;
        font-size:16px;
        padding:15px;
        border:3px solid #000;
      }
      div.signatures {
        margin-top:40px;
      }
    </style>
  </head>
  <body>
    <img src="/assets/payroll-header.png" />
    <!-- <div class="info-line"><div class="field-left">Employee's Name: <%= @week.user.name %></div> <div class="field-left">Week Ending: <%= @week.ends.strftime("%m/%d/%y") %></div><div class="clearfix"></div></div> -->
    <div class="info-line"><span style="margin-right:200px">Employee's Name: <%= @week.user.name %></span> Week Ending: <%= @week.ends.strftime("%m/%d/%y") %></div>
    <div class="info-line"><span style="margin-right:100px">Department: Student Activities - Brown Student Agencies</span> Supervisor: Shelley Adriance</div>
    <table class="payroll-table" cellspacing="0">
      <tr>
        <th class="left">Day</th>
        <th>Date</th>
        <th>Scheduled Hours</th>
        <th>Hours Worked</th>
        <th>Difference</th>
        <th>Comments</th>
      </tr>
      <%- (@week.begins..@week.ends).to_a.each_with_index do |date, i| -%>
        <tr class="row">
          <td class="left"><%= date.strftime("%A") %></td>
          <td><%= date.strftime("%m/%d") %></td>
          <td><%= @week["day_#{i}"] %></td>
          <td><strong><%= @week["day_#{i}"] %></strong></td>
          <td>0</td>
          <td>--</td>
        </tr>
      <%- end -%>
      <tr class="total">
        <td class="blank"></td>
        <td class="sum">Totals:</td>
        <td class="sum"><%= @week.hours %></td>
        <td class="sum"><%= @week.hours %></td>
        <td class="sum">0</td>
        <td class="blank"></td>
      </tr>
    </table>
    <div class="comments"><strong>Extended Comments:</strong>
      <p><%= @week.comments %></p>
    </div>
    <div class="signatures">
      <div class="info-line-2"><span style="margin-right:300px">Employee's Signature: </span> Date: </div>
      <div class="info-line"><span style="margin-right:300px">Supervisors Signature: </span> Date: </div>
    </div>
  </body>
</html>