%h1 Listing promos

%table
  %tr
    %th Code
    %th Available
    %th Expires
    %th Amount
    %th
    %th
    %th

  - @promos.each do |promo|
    %tr
      %td= promo.code
      %td= promo.available
      %td= promo.expires
      %td= promo.amount
      %td= link_to 'Show', promo
      %td= link_to 'Edit', edit_promo_path(promo)
      %td= link_to 'Destroy', promo, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Promo', new_promo_path
